
header {
	background: #FFF;
}
body {
	background: #E6E6FA;
  box-sizing: border-box;
	color: #000;
	font-family: "Verdana", sans-serif;
	margin: 5%;
	text-align: center;
	padding-left: 100px;
	padding-right: 100px;
}
article {
	background: #FFF;
	padding: 5%;
	margin: auto;
}
.albumcovers {
	padding: 20px;
}
#credit {
	color: #20B2AA;
}
#big {
	width: 100%;
}
#albums1 {
	background: #008080;
}
#albums2 {
	background: #8A2BE2;
}
#albums3 {
	background: #008B8B;
}
#albums4 {
	background: #800080;
}
footer {
	color: #000;
	background: #FFF;
}
a {
	color: #5F9EA0;
}
a:hover {
	color: #8B008B;
}

.cover {
  padding-top: 20px;
}
#title1 {
	color: #FFF;
	padding-bottom: 25px;
}
#title2 {
	color: #FFF;
	padding-bottom: 25px;
}
#title3 {
	color: #FFF;
	padding-bottom: 25px;
}
#title4 {
	color: #FFF;
	padding-bottom: 25px;
}
@media (max-width: 600px) {
	body {
		margin: 0;
		width: 100%;
		padding: 5%;
	}

	img {
		width: 100%;
		padding-top: 10%;
	}
	h1 {
		margin: 0;
		padding-top: 10%;
		font-size: 90%;
	}
  p {
    font-size: 50%;
  }
	.albumcovers {
		padding: 0;
		margin: 0;
	}
}
